section.pageContainer{
  display: flex;
  flex-direction: column;
  height: 99%;
}
.hide {
  display: none !important;
}
textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 20px - 2px);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  height: 15em;
}
div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 20px - 2px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}
div.textblock textarea {
  border: 1px solid black;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-image: none;
  display: block;
}
label {
  text-transform: uppercase;
  font-size: 12px;
}
header {
  display: flex;
  align-items: stretch;
}
/* Accent */
header section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px 0;
  background-color: lightblue;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
  font-size: large;
}
header section.charname div {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
header section.misc {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}
header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
header section.misc ul li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}
header section.misc ul li div {
  margin-bottom: 2px;
}
/* Accent */
header section.misc ul li div.value {
  border: 0;
  border-bottom: 1px solid lightblue;
}
main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 38%;
  max-height: 38%;
}
main > section{
  margin-right: 5px;
}
section.attributes {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 75px;
  max-width: 125px;
}
/* Accent */
div.scores {
  background-color: lightblue;
  border-radius: 10px;
  flex-grow: 1;
}
div.attributeName {
  font-size: 8px;
  font-weight: bold;
}
div.scores ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* padding-bottom: 75px; */
}
div.scores ul li {
  height: 80px;
  width: 70px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
div.mod {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.abilityName {
  padding-top: 5px;
  font-size: small;
  
}
div.abilityMod {
  font-size: 40px;
  background: white;
}
div.abilityScore {
  display: flex;
  justify-content: center;
}
div.abilityScore div.score {
  background: white;
  width: 30px;
  height: 20px;
  border: 1px inset black;
  border-radius: 20px;
  margin: -1px;
}
section.attr-applications{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 145;
  max-width: 160px;
}
div.inspiration, div.proficiencybonus{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

div.inspiration div, div.proficiencybonus div {
  display: flex;
  width: 100%;
  height: 15px;
  border: 1px solid black;
  border-left: 0;
  align-items: center;
  justify-content: center;
}
div.labelBox{
  margin-left: -1px;
}
div.inspiration div label, div.proficiencybonus div label {
  font-size: 10px;
}
div.inspiration input {
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  appearance: none;
  border: 1px solid black;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  margin: 0px;
}
div.proficiencybonus div.value{
  width: 40px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.saves{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  flex-grow: 1;
}
 div.list-section {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px;
}
div.list-section div.label {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
div.saves ul li {
  display: flex;
  align-items: center;
}
div.saves ul li > * {
  margin-left: 5px;
}
div.saveName {
  font-size: 14px;
  text-align: left;
  order: 3;
}
div.skills{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
div.skill{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
div.skill:first-child {
  /* background-color: blue; */
}
div.skillText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 9px;
  flex-grow: 1;
}
/* Accent */
span.skillAbility {
  color: lightblue; 
}
div.list-section div.value {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 0;  
  border-bottom: 1px solid black;
}
div.list-section ul li input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
div.attr-applications div.list-section ul li input[type=checkbox]:checked {
  background-color: black;
}
main > section div.passive-perception {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
main > section div.passive-perception input {
  width: 30px;
  height: 28px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}
section.combatPane{
  display: flex;
  flex-direction: column;
}
/* Accent */
section.combat {
  background-color: lightblue;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}
div.combatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
div.armorclass, div.CMD, div.initiative, div.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex-grow: 1;
}
div.armorclass > div.key, div.CMD > div.key, div.initiative > div.key, div.speed > div.key {
  font-size: 8px;
  width: 45px;
  border: 1px solid black;
  border-top: 0;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
}
div.armorclass > div.value, div.CMD > div.value, div.initiative > div.value, div.speed > div.value {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
div.hp {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
div.hitDice, div.deathsaves, div.current, div.temporary{
  background-color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
div.deathsaves {
  min-width: 110px;
}
div.currentTotalHealth, div.otherHP{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}
div.maxHP, div.totalHD {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 5px 0;
}
/* Accent */
div.maxHP div.key, div.totalHD div.key {
  font-size: 10px;
  color: lightblue;
  margin: 0.25em;
  text-transform: none;
}
/* Accent */
div.maxHP div.value, div.totalHD div.value {
  font-size: 12px;
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid lightblue;
  margin-right: 0.25em;
  padding: 0 0.25em;
  text-align: center;
}
div.current input, div.temporary input, div.hitDice input {
  font-size: 25px;
  border: 0;
  width: 90%;
  text-align: center;
}
div.temporary input {
  flex-grow: 1;
}
div.current label, div.temporary label, div.hitDice label, div.deathsaves label{
  font-size: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
div.marks {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.deathsuccesses, div.deathfails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
div.deathsuccesses label, div.deathfails label {
  font-size: 12px;
  text-align: right;
  width: 50%;
  margin-left: 5px;
}
div.bubbles {
  flex: 1 40%;
  margin-left: 5px;
}
div.bubbles input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
div.bubbles input[type=checkbox]:checked {
  background-color: black;
}
section.attacksandspellcasting {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  flex-grow: 1;
}
section.attacksandspellcasting > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section.attacksandspellcasting > div > label {
  order: 3;
  text-align: center;
}
section.attacksandspellcasting > div > table {
  width: 100%;
  flex-grow: 1;
}
/* Accent */
section.attacksandspellcasting > div > table th {
  font-size: 10px;
  color: lightblue;
}
/* Accent */
section.attacksandspellcasting > div > table div {
  width: calc(100% - 4px);
  border: 0;
  background-color: lightblue;
  font-size: 10px;
  padding: 3px;
}
div.atk{
  min-width: 65px;
}
section.rightPane{
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
div.separator{
  text-decoration: underline;
}
section.consumables {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
section.consumables > div {
  background-color: white;
  margin-bottom: 10px ;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 45%;
  min-height: 60px;
}
section.consumables > div > div.total {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 5px 0;
}
/* Accent */
section.consumables > div > div.total div.key {
  font-size: 10px;
  color: lightblue;
  margin: 0.25em;
  text-transform: none;
}
/* Accent */
section.consumables > div > div.total > div.value {
  font-size: 15px;
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid lightblue;
  margin-right: 0.25em;
  padding: 0 0.25em;
  text-align: center;
}
section.consumables label {
  text-align: center;
  padding: 2px;
  font-size: 10px;
}
div.remainingConsumable {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
div.remainingConsumable input {
  width: 100%;
  font-size: 25px;
  text-align: center;
  border: 0;
  flex-grow: 1;
}
div.remainingConsumable label {
  font-size: 10px;
  font-weight: bold;
}
section.toggles {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  flex-grow: 6;
  flex-direction: column;
  justify-content: space-evenly;
}
section.toggles > div{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}
section.toggles > div > label{
  margin-left: 5px;
}
main section.equipment {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
  main section.equipment > div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section.equipment > div > div.money ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main section.equipment > div > div.money ul > li {
  display: flex;
  align-items: center;
}
main section.equipment > div > div.money ul > li label {
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 20px;
  font-size: 8px;
  text-align: center;
  padding: 3px 0;
}
main section.equipment > div > div.money ul > li input {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  padding: 10px 3px;
  font-size: 12px;
  text-align: center;
}
main section.equipment > div > label {
  order: 3;
  text-align: center;
  flex: 100%;
}
section.flexPanel {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.tabHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.tabContent{
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  display: none;
}
.tabContent--active {
  display: block;
}
.tabButton:active {
  color: red;
}
.tabButton--active {
  font-weight: bold;
}
section.equipment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
div.itemSlots {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  border-right: 1px solid black;
}
div.itemSlots > img {
  height: 100%;
  position: relative;
  margin-left: 7px;
  z-index: -1;
}
div.equipmentText{
  padding-right: 5px;
  white-space:nowrap;
}
p.equipmentSlot {
  font-size: 20px;
  position: relative;
  text-decoration: underline;
}
p.head {
  top: -1.7%;
  color: #63cb2f;
  text-decoration-color: #63cb2f;
}
p.headband {
  top: -3.6%;
  color: #177f00;
  text-decoration-color: #177f00;
}
p.eyes {
  top: -5.5%;
  color: #23c590;
  text-decoration-color: #23c590;
}
p.shoulders {
  top: -2.4%;
  color: #a41515;
  text-decoration-color: #a41515;
}
p.neck {
  top: -4.8%;
  color: #ff7900;
  text-decoration-color: #ff7900;
}
p.chest {
  top: -6.9%;
  color: #ff4a29;
  text-decoration-color: #ff4a29;
}
p.body {
  top: -9.3%;
  color: #0b5bdf;
  text-decoration-color: #0b5bdf;
}
p.armor {
  top: -11.8%;
  color: #98e21a;
  text-decoration-color: #98e21a;
}
p.belt {
  top: -9.2%;
  color: #12c1ff;
  text-decoration-color: #12c1ff;
}
p.wrists {
  top: -9.7%;
  color: #7a1acb;
  text-decoration-color: #7a1acb;
}
p.hands {
  top: -11.4%;
  color: #b510c3;
  text-decoration-color: #b510c3;
}
p.ring1 {
  top: -13%;
  color: #122da6;
  text-decoration-color: #122da6;
}
p.ring2 {
  top: -14.8%;
  color: #0d22a1;
  text-decoration-color: #0d22a1;
}
p.feet {
  top: 4.7%;
  color: #5aedff;
  text-decoration-color: #5aedff;
}
div.equipmentRightPane{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
div.money {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}
div.money > div {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.money > div > div{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}
div.money > div > div {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 45px;
}
div.copper {
  border: 3px solid #B87333;
}
div.silver {
  border: 3px solid #C0C0C0;
}
div.gold {
  border: 3px solid #FFD700;
}
div.platinum {
  border: 3px solid #E5E4E2;
}
div.money > div > div > input{
  width: 90%;
  height: 60%;
  border: 0px;
  text-align: center;
}
div.weapons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
textarea.extraEquipment {
  width: 100%;
  flex-grow: 1;
}
section.spellsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
div.spellHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
div.spellHeaderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  flex-grow: 1;
}
div.spellHeaderItem > div.key {
  font-size: 8px;
  width: 45px;
  border: 1px solid black;
  border-top: 0;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
}
div.spellHeaderItem > div.value {
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
div.spellModifier > div.value, div.saveDC > div.value, div.casterLevel > div.value {
  width: 60px;
}
div.spellAbility > div.value {
  width: 120px;
}
div.spellList {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}
div.spellLevel {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
}
div.spellLevelHeader {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
div.spellName {
  font-size: large;
  margin-top: 5px;
  margin-left: 5px;
}
section.powerAttack {
  display: flex;
  width: 100%;
  height: 99%;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}
section.powerAttack > canvas {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}