section.flavor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
div.main {
  width: 50%;
  margin: 5px;
}
div.main > h2 {
  text-decoration: underline;
  align-self: center;
}
div.backstory,
div.personalityTraits,
div.bonds,
div.flaws,
div.ideals {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
div.personalityTraits,
div.bonds,
div.flaws,
div.ideals {
  flex-grow: 1;
  margin-bottom: 5px;
}
div.columnContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 5px;
  margin-right: 5px;
}
div.columnContainer > div > h2 {
  text-decoration: underline;
  align-self: center;
}
