/* Shared css*/
div.labelBox {
  margin-left: -1px;
}

div.list-section {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px;
}
div.list-section div.label {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
div.list-section div.value {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
}
div.list-section ul li input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.tooltip {
  position: relative;
}
.tooltip::after,
.tooltip::before {
  --scale: 0;
  --arrowSize: 10px;

  position: absolute;
  top: -.25rem;
  transition: 50ms transform;
  transform-origin: bottom center;
  left: 50%;
  z-index: 900;
}
.shiftedRight::after,
.shiftedRight::before {
  transform: translateX(-15%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}

.centered::after,
.centered::before {
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}

.shiftedLeft::after,
.shiftedLeft::before {
  transform: translateX(-85%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}
.tooltip::before {
  --translate-y: calc(-100% - var(--arrowSize));

  content: attr(data-tooltip);
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
  color: white;
  background: var(--primary-accent);
  width: max-content;
}
.tooltip:active::before,
.tooltip:active::after {
  --scale: 1;
}
.tooltip::after {
  --translate-y: calc(-1* var(--arrowSize));

  content: '';
  border: var(--arrowSize) solid transparent;
  transform-origin: top center;
  border-top-color: var(--primary-accent);
}
section.pageContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 99.5%;
}
.hide {
  display: none !important;
}
textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 20px - 2px);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  height: 15em;
}
div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 20px - 2px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}
div.textblock textarea {
  border: 1px solid black;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-image: none;
  display: block;
}
label {
  text-transform: uppercase;
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
main > section {
  margin-right: 5px;
}
section.attr-applications {
  display: flex;
  flex-direction: column;
}
div.attr-applications div.list-section ul li input[type=checkbox]:checked {
  background-color: black;
}
section.combatPane {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}
div.hp {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
div.currentTotalHealth,
div.otherHP {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}
section.attacksandspellcasting {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  flex-grow: 1;
}
section.attacksandspellcasting > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section.attacksandspellcasting > div > label {
  order: 3;
  text-align: center;
}
section.attacksandspellcasting > div > table {
  width: 100%;
  flex-grow: 1;
}
section.attacksandspellcasting > div > table td {
  color: var(--secondary-accent);
}
section.attacksandspellcasting > div > table th {
  font-size: 12px;
  color: var(--primary-accent);
}
section.attacksandspellcasting > div > table div {
  width: calc(100% - 4px);
  border: 0;
  background-color: var(--primary-accent);
  font-size: 12px;
  padding: 3px;
}
section.rightPane {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
div.separator {
  text-decoration: underline;
}
main section.equipment {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
main section.equipment > div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section.equipment > div > div.money ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main section.equipment > div > div.money ul > li {
  display: flex;
  align-items: center;
}
main section.equipment > div > div.money ul > li label {
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 20px;
  font-size: 8px;
  text-align: center;
  padding: 3px 0;
}
main section.equipment > div > div.money ul > li input {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  padding: 10px 3px;
  font-size: 12px;
  text-align: center;
}
main section.equipment > div > label {
  order: 3;
  text-align: center;
  flex: 100%;
}
section.flexPanel {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
div.flexHeader > button:first-child {
  border-radius: 10px 0px 0px 0px;
}
div.flexHeader > button:last-child {
  border-radius: 0px 10px 0px 0px;
}

div.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.collapsible {
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
}
div.collapsing {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

active,
button.collapsible:hover {
  background-color: #ccc;
}
button.featureName {
  background-color: var(--primary-accent);
  color: var(--secondary-accent);
  border-radius: 10px;
  text-align: left;
  width: 99%;
  font-size: 15px;
  margin-bottom: 5px;
}
div.featureDescription {
  padding: 0 18px;
}
section.equipment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
div.itemSlots {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  border-right: 1px solid black;
}
div.itemSlots > img {
  height: 100%;
  position: relative;
  margin-left: 7px;
  z-index: -1;
}
div.equipmentText {
  padding-right: 5px;
  white-space: nowrap;
}
p.equipmentSlot {
  font-size: 20px;
  position: relative;
  text-decoration: underline;
}
p.head {
  top: -1.7%;
  color: #63cb2f;
  text-decoration-color: #63cb2f;
}
p.headband {
  top: -3.5%;
  color: #177f00;
  text-decoration-color: #177f00;
}
p.eyes {
  top: -5.1%;
  color: #23c590;
  text-decoration-color: #23c590;
}
p.shoulders {
  top: -1.9%;
  color: #a41515;
  text-decoration-color: #a41515;
}
p.neck {
  top: -4.1%;
  color: #ff7900;
  text-decoration-color: #ff7900;
}
p.chest {
  top: -6.3%;
  color: #ff4a29;
  text-decoration-color: #ff4a29;
}
p.body {
  top: -8.5%;
  color: #0b5bdf;
  text-decoration-color: #0b5bdf;
}
p.armor {
  top: -10.7%;
  color: #98e21a;
  text-decoration-color: #98e21a;
}
p.belt {
  top: -8.1%;
  color: #12c1ff;
  text-decoration-color: #12c1ff;
}
p.wrists {
  top: -8.4%;
  color: #7a1acb;
  text-decoration-color: #7a1acb;
}
p.hands {
  top: -10%;
  color: #b510c3;
  text-decoration-color: #b510c3;
}
p.ring1 {
  top: -11.4%;
  color: #122da6;
  text-decoration-color: #122da6;
}
p.ring2 {
  top: -13.1%;
  color: #0d22a1;
  text-decoration-color: #0d22a1;
}
p.feet {
  top: 6.4%;
  color: #5aedff;
  text-decoration-color: #5aedff;
}
div.equipmentRightPane {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
div.money {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}
div.money > div {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.money > div > div {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}
div.money > div > div {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 45px;
}
div.copper {
  border: 3px solid #b87333;
}
div.silver {
  border: 3px solid #c0c0c0;
}
div.gold {
  border: 3px solid #ffd700;
}
div.platinum {
  border: 3px solid #e5e4e2;
}
div.money > div > div > input {
  width: 90%;
  height: 60%;
  border: 0px;
  text-align: center;
}
div.weapons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
textarea.extraEquipment {
  width: 100%;
  flex-grow: 1;
}
section.powerAttack {
  display: flex;
  width: 100%;
  height: 99%;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}
section.powerAttack > canvas {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
