.popout {
  position: relative;
}
.popout::after,
.popout::before {
  --scale: 0;
  --arrowSize: 10px;

  position: absolute;
  top: -.25rem;
  transition: 50ms transform;
  transform-origin: bottom center;
  left: 50%;
  z-index: 900;
}
.shiftedRight::after,
.shiftedRight::before {
  transform: translateX(-15%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}

.centered::after,
.centered::before {
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}

.shiftedLeft::after,
.shiftedLeft::before {
  transform: translateX(-85%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}
.popout::before {
  --translate-y: calc(-100% - var(--arrowSize));

  content: attr(data-popout);
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
  color: white;
  background: var(--primary-accent);
  width: max-content;
}
.popout:active::before,
.popout:active::after {
  --scale: 1;
}
.popout::after {
  --translate-y: calc(-1* var(--arrowSize));

  content: '';
  border: var(--arrowSize) solid transparent;
  transform-origin: top center;
  border-top-color: var(--primary-accent);
}

div.choice {
  background-color: blue;
}
