{% load static %}
{% load sheetTags %}
<link rel="stylesheet" href="{% static 'sheet/5eSheet.css'   %}">

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script type = "text/javascript" src="{% static 'sheet/localState.js' %}"></script>
<script type = "text/javascript" src="{% static 'sheet/tabs.js' %}"></script>

<form action="" method="GET">
{% csrf_token %}
  <section class="pageContainer">
    <header>
      <section class="charname">
        <div>{{character.name}}</div>
      </section>
      <section class="misc">
        <ul>
          <li>
            <div class="field">Class & Level</div>
            <div class="value">{{character.charClass.name}} {{character.level}}</div>
          </li>
          <li>
            <div class="field">Background</div>
            <div class="value">{{character.background}}</div>
          </li>
          <li>
            <div class="field">Player Name</div>
            <div class="value">{{character.playerName}}</div>
          </li>
          <li>
            <div class="field">Race</div>
            <div class="value">{{character.race.name}}</div>
          </li>
          <li>
            <div class="field">Alignment</div>
            <div class="value">{{character.alignment}}</div>
          </li>
          {% if character.config.edition == "Pathfinder" %}
          <li>
            <div class="field">Traits</div>
            <div class="value">{{character.traits.0}}, {{character.traits.1}}</div>
          </li>
          {%endif%}
        </ul>
      </section>
    </header>
    <main>
      <section class=attributes>
        <div class=scores>
          <ul>
              {% for ability,score in character.abilityScores.items %}
              <li>
                  <div class="mod" id=strength>
                      <div class="abilityName">{{ ability }}</div>
                      <div class="abilityMod"> {{ character.abilityMod|get_item:ability }}</div>
                  </div>
                  <div class="abilityScore"><div class=score>{{ score }}</div></div>
              </li>
              {% endfor %}
          </ul>      
        </div>
      </section>

      <section class="attr-applications">
        {% if character.config.edition == "5e" %}
        <div class="inspiration">
          <input name="inspiration" type="checkbox" />
          <div class="labelBox">
            <label for="inspiration">Inspiration</label>
          </div>
        </div>
        <div class="proficiencybonus">
          <div class="value">+2</div>
          <div class="labelBox">
            <label>Proficiency Bonus</label>
          </div>
        </div>
        {% endif %}
        <div class="saves list-section">
          <ul>
            <!-- SAVING THROWS -->
            {% for save,value in character.saves.items %}
            <li>
              <div class="saveName">{{save}}</div>
              <div class="value">{{value.value}}</div>
            </li>
            {% endfor %}
          </ul>
          <div class="label"> Saving Throws </div>
        </div>
        <div class="skills list-section">
          <!-- SKILL LIST -->
          {% for skill,value in character.skills.items %}
            <div class="skill">
              <div class="value"> {{value.value}} </div>
              <div class="skillText"> 
                <span class="skillName"> {{skill}} </span>
                <span class="skillAbility"> {{value.ability}} </span>
              </div>
            </div>
          {% endfor %}
          <div class="label"> Skills </div>
        </div>
      </section>

      <section class="combatPane">
        <section class="combat">
          <div class="combatHeader">
            
            <div class="armorclass">
              <div class="value">{{character.combat.AC}}</div>
              <div class="key">Armor Class</div>
            </div>

            {% if character.config.edition == "Pathfinder" %}
            <div class="CMD">
              <div class="value">{{character.combat.AC}}</div>
              <div class="key">CMD</div>
            </div>
            {% endif %}

            <div class="initiative">
              <div class="value">{{character.combat.Initiative}}</div>
              <div class="key">Initiative</div>
            </div>

            <div class="speed">
              <div class="value">{{character.combat.Speed}}</div>
              <div class="key">Speed</div>
            </div>

          </div>
          
          <div class="hp">
            <div class="otherHp">

              <div class="hitdice">
                <div class="totalHD">
                  <div class="key">Total Hit Dice</div>
                  <div class="value">{{character.level}}d{{character.hitDie}}</div>
                </div>
                <input type="text" id="remainingHD" onChange="storeItem('remainingHD', '{{character.name}}')"></input>
                <script>getItem('remainingHD', '{{character.name}}')</script>
                <label for="remainingHD">Hit Dice</label>
              </div>

              <div class="deathsaves">
                <div class="marks">
                  <div class="deathsuccesses">
                    <label>Successes</label>
                    <div class="bubbles">
                      <input name="deathsuccess1" type="checkbox" />
                      <input name="deathsuccess2" type="checkbox" />
                      <input name="deathsuccess3" type="checkbox" />
                    </div>
                  </div>
                  <div class="deathfails">
                    <label>Failures</label>
                    <div class="bubbles">
                      <input name="deathfail1" type="checkbox" />
                      <input name="deathfail2" type="checkbox" />
                      <input name="deathfail3" type="checkbox" />
                    </div>
                  </div>
                </div>
                <label>Death Saves</label>
              </div>

            </div>

            <div class="currentTotalHealth">
              
              <div class="current">
                <div class="maxHP">
                  <div class="key">Max Hit Points</div>
                  <div class="value">{{character.combat.HP}}</div>
                </div>
                <input type="text" id="currentHealth" onChange="storeItem('currentHealth', '{{character.name}}')"></input>
                <script>getItem('currentHealth', '{{character.name}}')</script>
                <label>Current Hit Points</label>
              </div>

              <div class="temporary">
                <input type="text" id="temphp" onChange="storeItem('temphp', '{{character.name}}')"></input>
                <script>getItem('temphp', '{{character.name}}')</script>
                <label for="temphp">Temporary Hit Points</label>
              </div>
            </div>

          </div>
        </section>

        <section class="attacksandspellcasting">
          <div>
            <label>Attacks & Spellcasting</label>
            <table>
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  {% if character.config.edition == "Pathfinder" %}
                  <th>
                    Crit Range
                  </th>                  
                  {%endif%}
                  <th>
                    Atk Bonus
                  </th>
                  <th>
                    Damage/Type
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for attack,value in character.combat.Attacks.items %}
                <tr>
                  <td>
                    <div class="atk">{{attack}}</div>
                  </td>
                  {% if character.config.edition == "Pathfinder" %}
                  <td>
                    <div class="critRange">{{value.critRange}}/x{{value.critDamage}}</div>
                  </td>
                  {%endif%}
                  <td>
                    <div class="toHit">+{{value.toHit}}</div>
                  </td>
                  <td>
                    <div class="damage">{{value.damage}}</div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <textarea></textarea> -->
          </div>
        </section>
      </section>

      <section class="rightPane">
        <section class="consumables">
          {% for key,value in character.combat.Consumables.items %}
          <div>
            <div class="total">
              <div class="key">Total</div>
              <div class="value">{{value}}</div>
            </div>
            <div class="remainingConsumable">
              <input name="remainingConsumable" type="text" id="{{key}}" onChange="storeItem('{{key}}', '{{character.name}}')" />
              <script>getItem('{{key}}', '{{character.name}}')</script>
              <label for="remainingConsumable">{{key}}</label>
            </div>
          </div>
          {% endfor %}
        </section>

        <section class="toggles">
          {% if character.config.edition == "Pathfinder" %}
          <div class="separator">AC Type</div>
          {{ forms.acType.as_div }}
          {% endif %}
          <div class="separator">Combat</div>
          {{ forms.combat.as_div }}
          <div class="separator">Spells</div>
          {{ forms.spell.as_div }}
          {% if character.config.edition == "Pathfinder" %}
          <div class="separator">Skills</div>
          {{ forms.skill.as_div }}
          {% endif %}
          <input type="submit" value="Submit">
        </section>

      </section>

    </main>

    <section class="flexPanel">
      <div class="flexHeader tabHeader">
        <button type="button" class="tabButton" data-for-tab="main-features">Features</button>
        <button type="button" class="tabButton" data-for-tab="main-equipment">Equipment</button>
        <button type="button" class="tabButton" data-for-tab="main-proficiencies">Proficiencies</button>
        <button type="button" class="tabButton" data-for-tab="main-spells">Spells</button>
        <button type="button" class="tabButton" data-for-tab="main-powerAttack">Power Attack</button>
        <button type="button" class="tabButton" data-for-tab="main-flavor">Flavor</button>
      </div>
      <div class="tabContent" data-tab="main-features">
        <section class="features">
          <div class="featureHeader tabHeader">
            {% for featureType in character.features %}
              <button type="button" class="tabButton" data-for-tab="feature-{{featureType}}">{{featureType}}</button>
            {% endfor %}
          </div>
          {% for featureType,features in character.features.items %}
            <div class="featureType tabContent" data-tab="feature-{{featureType}}">
              {% for feature,description in features.items %}
                <div class="feature">
                  <button type="button" class="featureName collapsible">{{feature}}</button>
                  <div class="featureDescription collapsing">
                    {% for line in description %}
                      {% if line.type == "normal" %}
                        {% with line.text|split as test %}
                          {% for item in test %}
                            <p>{{item}}</p>
                          {% endfor %}
                        {% endwith %}
                      {% elif line.type == "heading" %}
                        <h4>{{line.text}}</h4>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </section>
      </div>
      <div class="tabContent" data-tab="main-equipment">
        <section class="equipment">
          <div class="itemSlots">
            <img src="{% static "sheet/images/magicItemSlots.png" %}" alt="Uh Oh">
            <div class="equipmentText">
              <p class="equipmentSlot head"     > {{ character.equipment.head.displayName      }} </p>
              <p class="equipmentSlot headband" > {{ character.equipment.headband.displayName  }} </p>
              <p class="equipmentSlot eyes"     > {{ character.equipment.eyes.displayName      }} </p>
              <p class="equipmentSlot shoulders"> {{ character.equipment.shoulders.displayName }} </p>
              <p class="equipmentSlot neck"     > {{ character.equipment.neck.displayName      }} </p>
              <p class="equipmentSlot chest"    > {{ character.equipment.chest.displayName     }} </p>
              <p class="equipmentSlot body"     > {{ character.equipment.body.displayName      }} </p>
              <p class="equipmentSlot armor"    > {{ character.equipment.armor.displayName     }} </p>
              <p class="equipmentSlot belt"     > {{ character.equipment.belt.displayName      }} </p>
              <p class="equipmentSlot wrists"   > {{ character.equipment.wrists.displayName    }} </p>
              <p class="equipmentSlot hands"    > {{ character.equipment.hands.displayName     }} </p>
              <p class="equipmentSlot ring1"    > {{ character.equipment.ring1.displayName     }} </p>
              <p class="equipmentSlot ring2"    > {{ character.equipment.ring2.displayName     }} </p>
              <p class="equipmentSlot feet"     > {{ character.equipment.feet.displayName      }} </p>
            </div>
          </div>
          <div class="equipmentRightPane">
            <div class="money">
              <div>
                <div class="copper" onChange="storeItem('copper', '{{character.name}}')">
                  <label for="copper">Copper</label>
                  <input name="copper" id="copper" />
                  <script>getItem('copper', '{{character.name}}')</script>
                </div>
                <div class="silver" onChange="storeItem('silver', '{{character.name}}')">
                  <label for="silver">Silver</label>
                  <input name="silver" id="silver" />
                  <script>getItem('silver', '{{character.name}}')</script>
                </div>
              </div>
              <div>
                <div class="gold" onChange="storeItem('gold', '{{character.name}}')">
                  <label for="gold">Gold</label>
                  <input name="gold" id="gold" />
                  <script>getItem('gold', '{{character.name}}')</script>
                </div>
                <div class="platinum" onChange="storeItem('platinum', '{{character.name}}')">
                  <label for="platinum">Platinum</label>
                  <input name="platinum" id="platinum" />
                  <script>getItem('platinum', '{{character.name}}')</script>
                </div>
              </div>
            </div>
            <textarea class="extraEquipment" placeholder="Equipment list here" id="extraEquipment" onChange="storeItem('extraEquipment', '{{character.name}}')"></textarea>
            <script>getItem('extraEquipment', '{{character.name}}')</script>
          </div>
        </section>
      </div>
      <div class="tabContent" data-tab="main-proficiencies">
        <section class="flavor">

        </section>
      </div>
      <div class="tabContent" data-tab="main-spells">
        <section class="spellsContainer">
          <div class="spellHeader">
          <div class="spellAbility spellHeaderItem">
            <div class="value">{{character.spells.ability}}</div>
            <div class="key">Spell Ability</div>
          </div>

          {% if character.config.edition == "Pathfinder" %}
            <div class="casterLevel spellHeaderItem">
              <div class="value">{{character.level}}</div>
              <div class="key">Caster Level</div>
            </div>
          {% endif %}

          {% if character.config.edition == "5e" %}
            <div class="spellModifier spellHeaderItem">
              <div class="value">{{character.spells.abilityMod}}</div>
              <div class="key">Spell Modifier</div>
            </div>
          {% endif %}

          {% comment %} If pathfinder character calculate DC for each spell level the character can cast {% endcomment %}
          {% if character.config.edition == "Pathfinder" %}
            {% for key in character.spells.level %}
              {% if key == "Cantrip" %}
              {% endif %}
              <div class="saveDC spellHeaderItem">
                {% if key == "Cantrip" %}
                  <div class="value">{{character.spells.saveDC}}</div>
                  <div class="key">{{key}} </br> Save DC</div>
                {% else %}
                  <div class="value">{{character.spells.saveDC|add:key}}</div>
                  <div class="key">Level {{key}} </br> Save DC</div>
                {% endif %}
              </div>
            {% endfor %}
          {% else %}
            <div class="saveDC spellHeaderItem">
              <div class="value">{{character.spells.saveDC}}</div>
              <div class="key">Save DC</div>
            </div>
          {% endif %}

          </div>

          <div class="spellList">
            {% for spellLevel, value in character.spells.level.items %}
              {% if character.config.castingType == "vancian" %}
                <div class="spellLevel">
                  <div class="spellLevelHeader">
                    <div>
                      Level: {{spellLevel}}
                    </div>
                    {% if not spellLevel == "Cantrip" %}
                      <div class="spellSlots">
                        Slots: {{value.slots}}
                      </div>
                    {% endif %}
                  </div>
                  {% for spell,value in value.list.items %}
                    {% if spellLevel == "Cantrip" %}
                      <div class="spellName">
                        {{spell}}
                      </div>
                    {% else %}
                      {% if value.timesPrepared > 1 %}
                        {% with ''|center:value.timesPrepared as range %}
                          {% for _ in range %}
                            <div class="spellName">
                              <input type="checkbox" name="" id="{{spell}}-{{forloop.counter}}" onChange="storeItem('{{spell}}-{{forloop.counter}}', '{{character.name}}')">
                              {{spell}}
                            </div>
                            <script>getItem('{{spell}}-{{forloop.counter}}', '{{character.name}}')</script>
                          {% endfor %}
                        {% endwith %}
                      {% else %}
                        <div class="spellName">
                          <input type="checkbox" name="" id="{{spell}}-{{forloop.counter}}" onChange="storeItem('{{spell}}-{{forloop.counter}}', '{{character.name}}')">
                          {{spell}}
                        </div>
                        <script>getItem('{{spell}}-{{forloop.counter}}', '{{character.name}}')</script>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% comment %} Seperate out vancian vs. prepared casting {% endcomment %}

              {% if character.config.castingType == "prepared" %}
                <div class="spellLevel">
                  <div class="spellLevelHeader">
                    <div>
                      Level: {{spellLevel}}
                    </div>
                    {% if not spellLevel == "Cantrip" %}
                      <div class="spellSlots">
                        Total Slots: {{value.slots}}
                      </div>
                      <div class="slotsUsed">
                        Slots Used: 
                        <input type="text" id="slotsUsed-{{spellLevel}}" onChange="storeItem('slotsUsed-{{spellLevel}}', '{{character.name}}')">
                        <script>getItem('slotsUsed-{{spellLevel}}', '{{character.name}}')</script>
                      </div>
                    {% endif %}
                  </div>
                  {% for spell,value in value.list.items %}
                    <div class="spellName">
                      {{spell}}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
      <div class="tabContent" data-tab="main-powerAttack">
        <section class="powerAttack">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
          <body>
          <canvas id="powerAttackGraph"></canvas>
          <script type="text/javascript">
            var xValues    = {{character.combat.PowerAttack.powerAttackGraph.AC|escapejs}}
            var normalData = {{character.combat.PowerAttack.powerAttackGraph.normal|escapejs}}
            var powerData  = {{character.combat.PowerAttack.powerAttackGraph.powerAttack|escapejs}}
          </script>
          <script  src="{% static 'sheet/powerAttackGraph.js' %}"></script>
        </section>
      </div>
      <div class="tabContent" data-tab="main-flavor">
        <section class="flavor">

        </section>
      </div>
    </section>
  </section>
</form>

<script type = "text/javascript" src="{% static 'sheet/ignoreLastPass.js' %}"></script>
<script type = "text/javascript" src="{% static 'sheet/collapse.js' %}" ></script>