header {
  display: flex;
}
header section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  background-color: var(--primary-accent);
  color: var(--secondary-accent);
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  text-align: center;
  padding: 0.5em;
}
header ul {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: .81em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: .9rem;
}
header ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
header ul li div {
  margin-bottom: 2px;
}
header ul li div.headerValue {
  border: 0;
  border-bottom: 1px solid var(--primary-accent);
  display: flex;
  flex-direction: row;
}

div.classText {
  margin-left: 15px;
}

div.classText:first-of-type {
  margin-left: 0px;
}
