.toggles {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  flex-grow: 6;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.toggles > form {
  display: flex;
  flex-direction: column;
}
